
#one {
  width: 400;
  height: 300;
  background-color: #678bbc;
  float: left;
}

#two {
  width: 400;
  height: 300;
  background-color: #679dbc;
  float: left;

}

#three {
  width: 400;
  height: 300;
  background-color: #3a8bbc;
  float: left;

}

#four {
  width: 400;
  height: 200;
  background-color: #648bdc;
  float: left;
}

#five {
  width: 400;
  height: 400;
  background-color: #658b3c;
  float: left;
}

#six {
  width: 400;
  height: 300;
  background-color: #628bac;
  float: left;
}

#seven {
  width: 400;
  height: 300;
  background-color: #648bbe;
clear: left;
}

#eight {
  width: 400;
  height: 300;
  background-color: #628bac;
    float: left;
}

#nine {
  width: 400;
  height: 300;
  background-color: #628bac;
  float: left;
}

#ten {
  width: 400;
  height: 300;
  background-color: #628bac;
  float: left;
}
