
#one {
  width: 400;
  height: 300;
  background-color: #678bbc;
}

#two {
  width: 400;
  height: 300;
  background-color: #679dbc;
}

#three {
  width: 400;
  height: 300;
  background-color: #3a8bbc;
}

#four {
  width: 400;
  height: 300;
  background-color: #648bdc;
}

#five {
  width: 400;
  height: 300;
  background-color: #658b3c;
}

#six {
  width: 400;
  height: 300;
  background-color: #628bac;
}

#seven {
  width: 400;
  height: 300;
  background-color: #648bbe;
}
